.caption {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: $colorBlack;
  width: 100%;
}

.caption a,
a.caption {
  @include transition(text-decoration 0.3s);
  text-decoration: underline;

  &:hover {
    text-decoration-color: transparent;
  }
}
