.grettings {
  overflow: hidden;
  padding-bottom: 80px;

  & + .category-section {
    padding-top: 0;
  }

  &__content {
    margin-top: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    @include transform(translateY(25px));
    z-index: 3;
  }

  &__slider {
  }

  .icon {
    max-width: auto;
    width: 290px;
    margin: auto;
    margin-bottom: 24px;
  }

  &__item {
    position: relative;
    padding: 48px 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: $colorWhite;
    height: 628px;
    width: 100%;
    overflow: hidden;
    @include border-radius(72px);
    opacity: 0 !important;
    @include box-shadow($shadow);

    .btn {
      margin-top: auto;
      z-index: 3;
    }
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.grettings__slider {
  .swiper-pagination {
    margin: 0;
    margin-top: 40px;
    top: auto;
    position: relative;
    display: flex;
    gap: 32px;
    padding: 0 32px;
  }

  .swiper-pagination-bullet {
    flex: 1;
    height: 4px;
    @include border-radius(2px);
    margin: 0 !important;
    background-color: #d9d9d9;
    padding: 0;
    opacity: 1;
    position: relative;
    overflow: hidden;
    display: block;

    @include before {
      width: 0;
      height: 100%;
      background-color: $colorBlack;
      left: 0;
      top: 0;
      @include border-radius(2px);
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      width: 100%;
    }
  }

  .swiper-slide-active {
    opacity: 1 !important;
  }
}

.category-section {
  padding: 80px 0;
  overflow-x: hidden;

  .caption {
    max-width: 835px;
  }

  .btn {
    margin-top: 62px;
    padding: 24px 15px;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;

    &:hover {
      @include transform(scale(0.95));
    }
  }
}

.slider-main {
  position: relative;
  overflow: visible;
  margin-top: 64px;
  margin-bottom: -15px;

  .swiper-wrapper {
  }

  .swiper-slide {
    position: relative;
    height: 432px;
    @include border-radius(72px);
    overflow: hidden;
    @include box-shadow($shadow);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
    $transition: opacity 0.3s, transform 0.3s;
    @include transition($transition);
    @include invisLink;
    margin-bottom: 14px;
    // opacity: 0;

    &.swiper-slide-next,
    &.swiper-slide-active {
      // opacity: 1;

      & + .swiper-slide {
        // opacity: 1;
        & + .swiper-slide {
          // opacity: 1;
        }
      }
    }

    &:hover {
      @include transform(scale(1.05));
    }
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-pagination-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $colorBlack;
    bottom: auto;
    left: auto;
    right: 0;
    top: -88px;
    width: auto;
  }

  .swiper-pagination-current {
  }

  .swiper-pagination-total {
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $colorBlack;
    background: $colorWhite;
    box-shadow: 0px 87px 35px rgba(0, 0, 0, 0.01),
      0px 49px 29px rgba(0, 0, 0, 0.04), 0px 22px 22px rgba(0, 0, 0, 0.07),
      0px 5px 12px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.08);
    padding: 15px 18px 15px;
    @include border-radius(12px);
  }
}

.slider-caterogy {
  position: relative;
  overflow: visible;
  margin-top: 64px;

  .swiper-wrapper {
  }

  .swiper-slide {
    position: relative;
    height: 432px;
    @include border-radius(72px);
    overflow: hidden;
    @include box-shadow($shadow);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
    $transition: opacity 0.3s, transform 0.3s;
    @include transition($transition);
    @include invisLink;
    // opacity: 0;

    &.swiper-slide-next,
    &.swiper-slide-active {
      // opacity: 1;

      & + .swiper-slide {
        // opacity: 1;
        & + .swiper-slide {
          // opacity: 1;
        }
      }
    }

    &:hover {
      @include transform(scale(1.05));
    }
  }

  .picture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .swiper-pagination-fraction {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $colorBlack;
    bottom: auto;
    left: auto;
    right: 0;
    top: -88px;
    width: auto;
  }

  .swiper-pagination-current {
  }

  .swiper-pagination-total {
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $colorBlack;
    background: $colorWhite;
    box-shadow: 0px 87px 35px rgba(0, 0, 0, 0.01),
      0px 49px 29px rgba(0, 0, 0, 0.04), 0px 22px 22px rgba(0, 0, 0, 0.07),
      0px 5px 12px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.08);
    padding: 15px 18px 15px;
    @include border-radius(16px);
  }
}

.video-section {
}

.video-catalog-btns {
  position: absolute;
  left: 48px;
  top: 48px;
  display: flex;
  align-items: center;
  gap: 32px;

  .btn-catalog-load {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
  }

  .video__btn {
    position: relative;
    top: 0;
    left: 0;
  }
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
  height: 628px;
  @include border-radius(64px);
  overflow: hidden;
  padding-bottom: 48px;
  @include box-shadow($shadow);

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn {
    margin-top: auto;
    position: relative;
    z-index: 5;
    padding: 12px 15px;
    font-size: 14px;
  }

  &__text {
    position: relative;
    z-index: 3;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: $colorWhite;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: auto;
    @include transform(translateY(55px));
  }
}

.video__btn {
  width: 48px;
  height: 48px;
  background: $colorWhite;
  border: 1px solid $colorBlack;
  @include border-radius(56px);
  @include transition(all 0.3s);
  position: absolute;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 49px;

  &--full {
    right: 46px;
  }

  &--play {
    left: 50px;
  }

  &--volume {
    left: 114px;
  }

  svg {
    @include transition(all 0.3s);

    path {
      @include transition(all 0.3s);
      fill: $colorBlack;
    }
  }

  &:hover {
    background-color: $colorBlack;

    svg {
      path {
        fill: $colorWhite;
      }
    }
  }
}

.text-section {
  &__inner {
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__caption {
    display: inline-block;
    margin-bottom: 24px;
  }

  &__picture {
    @include border-radius(64px);
    overflow: hidden;
    display: block;
    width: 100%;
    max-width: 789px;
    height: 536px;
    @include box-shadow($shadow);
    flex: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 555px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }

  a:not(.btn) {
    text-decoration: underline;
    @include transition(text-decoration 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .btn {
    margin-top: 24px;
  }

  .text-section__inner--right {
    flex-direction: row-reverse;
  }
}

.subscribe-section {
  padding-top: 80px;
  padding-bottom: 41px;

  &__picture {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    object-fit: cover;
    object-position: center;
    display: table;
    max-width: 100%;
  }

  &__text {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: $colorBlack;
    max-width: 745px;
    width: 100%;
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    gap: 32px;

    .input-item {
      max-width: 323px;
      width: 100%;

      & + .input-item {
        margin-top: 0;
      }
    }
  }
}

.products-section {
  padding: 80px 0;
  overflow: hidden;

  &__btn {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    padding: 24px 15px;
    margin-top: 47px;
  }
}

.products__slider {
  margin-top: 64px;
  overflow: visible;

  .swiper-slide {
    $transition: opacity 0.3s, transform 0.3s;
    @include transition($transition);
  }
}

.product-card {
  .product-card__picture {
    position: relative;
    @include border-radius(56px);
    box-shadow: 0px 429.905px 171.813px rgba(0, 0, 0, 0.01),
      0px 241.729px 145.037px rgba(0, 0, 0, 0.02),
      0px 107.104px 107.104px rgba(0, 0, 0, 0.03),
      0px 26.7761px 58.7587px rgba(0, 0, 0, 0.04),
      0px 0px 0px rgba(0, 0, 0, 0.04);
    overflow: hidden;
    width: 100%;
    height: 320px;
    display: block;
    @include invisLink;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      object-position: center;
      object-fit: cover;
    }
  }

  .product-card__content {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 16px 18px;
  }

  .product-card__brand {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.48);
    display: inline-block;
  }

  .product-card__name {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: underline;
    color: $colorBlack;
    @include transition(text-decoration 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .product-card__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $colorBlack;
    display: flex;
    align-items: center;
    gap: 8px;

    .price-current {
      color: #dd4242;
    }
    .price-old {
      color: rgba(0, 0, 0, 0.24);
      text-decoration: line-through;
    }
  }
}

.product-card__availability {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: block;
  position: relative;
  padding-left: 16px;

  .count {
  }

  @include before {
    left: 0;
    top: 50%;
    width: 8px;
    height: 8px;
    margin-top: -2px;
    @include border-radius(50%);
  }

  &--order {
    color: rgba(0, 0, 0, 0.48);

    &::before {
      background-color: rgba(0, 0, 0, 0.48);
    }
  }

  &--stock {
    color: #0b8a4d;

    &::before {
      background-color: #0b8a4d;
    }
  }
}

.product-cart--sale {
  .percent-sale {
    display: block;
  }
}

.percent-sale {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  padding: 8px;
  @include border-radius(32px);
  background-color: #dd4242;
  color: $colorWhite;
  position: absolute;
  left: 34px;
  top: 32px;
  z-index: 5;
}

.breadcrumbs {
  display: block;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 36px;
  }

  li {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.64);
  }

  a {
    @include text-decoration-hover($colorBlack);
    color: $colorBlack;
    position: relative;
    display: block;

    @include before {
      background-image: url("../img/arrow_right.svg");
      width: 7px;
      height: 12px;
      top: 50%;
      right: -16px;
      margin-top: -6px;
    }
  }

  & + .video-section {
    margin-top: 31px;
  }
}

.product-info {
  padding: 40px 0 0;

  &__btn {
    width: 100%;
    padding: 16px;
    font-size: 16px;
  }
}

.product-info__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;

  .btn {
    width: calc(50% - 8px);
    @include border-radius(16px);
  }
}

.product-info__wrapper {
  @include box-shadow($shadow);
  @include border-radius(56px);
  overflow: hidden;
}

.product-info__picture {
  position: relative;
  width: calc(100% - 587px);

  .percent-sale {
    display: block;
  }
}

.product-info__slider {
  width: 100%;
}

.product-info__item {
  .picture {
    display: block;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.product-info__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-info__content {
  width: 100%;
  max-width: 555px;
  flex: 1;
}

.product-info__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: $colorBlack;
}

.product-info__desc {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  display: block;
  margin-top: 3px;
}

.product-info__availability {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.48);
  margin-top: 28px;
}

.product-info__article {
  color: rgba(0, 0, 0, 0.48);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
  margin-bottom: 8px;
}

.product-info__price {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 27px;

  .current {
    color: #dd4242;
  }
  .old {
    color: rgba(0, 0, 0, 0.48);
    font-size: 24px;
    line-height: 24px;
    text-decoration: line-through;
    font-weight: 300;
  }
}

.product-info__controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: -9px;
}

.product-info__detailsLine + .product-info__detailsLine {
  border-top: solid 1px #000;
}

.product-info__details {
  padding: 8px 0;

  .product-info__detailsTitle {
    font-size: 24px;
    line-height: 24px;
    padding: 24px 0;
    font-weight: 600;
    position: relative;
    width: 100%;
    margin: 0;
    cursor: pointer;

    &.js-head-open {
      &.open {
        &::before {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }

      @include before {
        right: 0;
        top: 50%;
        background-image: url("../img/plus.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-top: -8px;
        opacity: 1;
      }
      @include after {
        right: 0;
        top: 50%;
        background-image: url("../img/minus.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-top: -8px;
        opacity: 0;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: minmax(auto, 203px) 1fr;
    gap: 21px 32px;
    margin-bottom: 21px;
  }

  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $colorBlack;

    &:last-child,
    &:first-child {
      width: 100%;
      grid-column: 1/3;
    }
  }

  h2,
  h3,
  h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: $colorBlack;
    display: block;
    margin-bottom: 8px;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: $colorBlack;
    text-decoration: underline;
    @include transition(text-decoration 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }

  p {
    line-height: 32px;
  }
}

.about-brand {
  padding: 80px 0 0;

  &__btn {
  }
}

.about-brand__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-brand__item {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 15px);
  justify-content: space-between;
}

.about-brand__picture {
  background-color: #f9f9f9;
  box-shadow: 0px 578px 231px rgba(0, 0, 0, 0.01),
    0px 325px 195px rgba(0, 0, 0, 0.02), 0px 144px 144px rgba(0, 0, 0, 0.03),
    0px 36px 79px rgba(0, 0, 0, 0.04), 0px 0px 0px rgba(0, 0, 0, 0.04);
  @include border-radius(56px);
  width: 320px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  img {
  }
}

.about-brand__content {
  width: calc(100% - 320px - 32px);
  display: flex;
  flex-direction: column;
  gap: 23px;
  align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: $colorBlack;
  padding-top: 8px;
}

.collections-section {
  padding: 80px 0 40px;

  .caption {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
  }

  .collections-list {
  }
}

.collections-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: 48px;
  overflow: hidden;
  position: relative;

  li {
  }

  a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: $colorBlack;
    padding: 15px;
    border: solid 1px $colorBlack;
    @include border-radius(16px);
  }
}

.catalog-collections__more {
  background-color: $colorBlack;
  border: solid 1px $colorBlack;
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include border-radius(50%);
  @include transition(background-color 0.3s);
  color: $colorWhite;
  font-size: 28px;
  font-weight: 100;
  line-height: 25px;
  padding-bottom: 3px;

  &--minus {
    display: none;
  }

  &--plus {
  }

  .symbol {
    @include transition(all 0.3s);
  }

  svg {
    pointer-events: none;

    path {
      @include transition(all 0.3s);
      fill: $colorWhite;
    }
  }

  &:hover {
    background-color: transparent;
    color: $colorBlack;

    svg {
      path {
        fill: $colorBlack;
      }
    }
  }
}

.catalog {
  padding: 34px 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__leftSide {
    width: 320px;
    position: sticky;
    top: 10px;
    left: 0;
    padding-top: 33px;
  }

  &__rightSide {
    width: calc(100% - 320px - 32px);
  }

  & + .category-text {
    margin-top: 64px;
  }
}

.catalog__controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .caption {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: -26px;
    text-transform: none;
  }
}

.filter-settings {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-wrap: wrap;
  width: 100%;
  order: 2;
  height: 50px;
  overflow: hidden;

  li {
    color: $colorBlack;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid $colorBlack;
    padding: 16px;
    color: $colorBlack;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: capitalize;
    @include border-radius(16px);
    @include invisLink;
  }
}

.filter-settings__title {
  font-weight: 700;
}

.filter-settings__data {
  font-weight: 400;
}

.filter-settings__delete {
  cursor: pointer;

  path {
    fill: #424242;
  }
}

.catalog-settings {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: auto;
  position: relative;
  top: -15px;

  .select-wrapper {
    min-width: 123px;
  }

  .selectric {
    .label {
      font-size: 14px;
    }

    .button {
      width: 28px;
    }
  }

  .selectric-scroll {
    ul {
      li {
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
}

.catalog-list {
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;

  .product-card {
    width: calc(25% - 18px);

    .product-card__picture {
      height: 237px;
      @include border-radius(42px);
    }

    .product-card__availability {
      padding-left: 12px;

      &::before {
        width: 6px;
        height: 6px;
      }
    }

    .product-card__content {
      padding: 15px 8px;
    }

    .product-card__availability,
    .product-card__brand,
    .product-card__name,
    .product-card__price {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

.catalog-pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 32px;

  .btn {
    font-size: 24px;
    line-height: 24px;
    padding: 23px 10px;
    flex-grow: 11;
    max-width: 789px;
  }

  .pagination {
    flex-grow: 1;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 33px;
  justify-content: center;
  padding-left: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $colorBlack;

  &__prev {
  }

  &__next {
  }

  &__pages {
  }

  .page-current {
  }

  .page-all {
  }

  svg {
    path {
      fill: #424242;
    }
  }
}

.catalog-collections {
  padding: 50px 0 5px;

  .caption {
    margin-bottom: 30px;
  }
  .collections-list {
    justify-content: flex-start;
    padding-right: 85px;
  }
}

.mobile-filter {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $colorBlack;
  padding: 8px 16px;
  border: solid 1px $colorBlack;
  background-color: $colorBlack;
  @include border-radius(16px);
  color: $colorWhite;
}

.category-text {
  .picture {
    width: 100%;
    @include border-radius(72px);
    @include box-shadow($shadow);
    position: relative;
    overflow: hidden;
    padding-top: calc(628 / 1376 * 100%);
    display: block;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .catalog-collections {
    .caption {
      margin-bottom: 25px;
      font-size: 32px;
      line-height: 32px;
    }

    & + .catalog-collections {
      padding-top: 30px;
    }
  }

  &__line {
    padding: 56px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $colorBlack;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    .caption {
      line-height: 56px;
      max-width: 587px;
    }
  }

  &__text {
    width: calc(100% - 595px);
    max-width: 555px;

    p {
      & + p {
        margin-top: 32px;
      }
    }
  }
}

.caterogy-title {
  margin-top: -35px;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 30px;

  .icon-name {
    max-width: 100%;
    margin-bottom: 14px;
  }

  .btn {
    gap: 7px;
    display: inline-flex;
    font-size: 14px;
  }
}

.caterogy-title__controls {
  margin-top: 22px;
  gap: 16px 32px;
  display: flex;
  flex-wrap: wrap;
}
