@media (max-width: 1199px) {
  .header-top {
    padding: 12px 15px;
  }

  .header-center .logo-wrapper {
    width: 320px;
  }

  .social {
    width: auto;
  }

  .caption {
    font-size: 32px;
    line-height: 32px;
    max-width: 500px;
  }

  .category-section {
    .container {
      padding: 0 32px;
    }
  }

  .slider-caterogy {
    margin-top: 34px;

    .swiper-pagination-fraction {
      top: -56px;
    }
  }

  .text-section__content {
    max-width: 455px;
  }
}
