@media (max-width: 1439px) {
  .catalog__controls {
    gap: 10px;
  }

  .catalog-list .product-card {
    width: calc(100% / 3 - 16px);
  }

  .category-text__line {
    justify-content: flex-start;
  }

  .category-text__line .caption {
    max-width: 590px;
  }
}
