@media (max-width: 1023px) {
  .header-top__adress {
    display: none;
  }

  .site-price {
    display: none;
  }

  .header-top__time {
    display: none;
  }

  .menu a {
    color: $colorBlack;
    @include text-decoration-hover($colorBlack);
  }

  .header-top {
    padding: 4px 0;
    background-color: transparent;
  }

  .header__inner {
    padding: 0;
  }

  .header-center {
    position: relative;
    left: -12px;
    width: calc(100% + 24px);
    background-color: $colorBlack;
    color: $colorWhite;
    padding: 12px 32px;
    justify-content: flex-start;
  }

  .header-center__info {
    display: none;
  }

  .header-center {
    .header-controls {
      order: 2;
      gap: 24px;
      margin-left: auto;

      .mobile {
        display: block;
      }
    }

    .logo-wrapper {
      margin: 0;
      order: 1;
      width: auto;
      @include transform(translateX(0));
    }
  }

  .header-controls__button {
    border-color: $colorWhite;

    path,
    svg {
      fill: $colorWhite;
    }
  }

  .header-controls {
    .burger {
      display: none;
    }

    .link-block {
      display: flex;
      border-color: $colorWhite;

      path {
        fill: $colorWhite;
      }
    }
  }

  .header-bottom {
    display: none;
  }

  .burger-mobile {
    border-color: $colorWhite;
    cursor: pointer;
    @include border-radius(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 1px $colorWhite;
    margin-right: 24px;

    .burger__line {
      background-color: $colorWhite;
    }
  }

  .footer__inner {
    gap: 0;
  }

  .footer-column {
    width: 100%;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;

    & + .footer-column {
      border-top: 1px solid $colorBlack;
    }
  }

  .footer-column__body {
    display: none;
    margin-top: 0;
    margin-bottom: 21px;
  }

  .footer-column__title {
    margin-bottom: 0;
  }

  .subscribed-news {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    .footer-column__title {
      margin-bottom: 24px;
      padding: 0;
    }
  }

  .social {
    margin-top: 44px;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding: 44px 0;

    .logo-wrapper {
      margin: 0 auto;
    }
  }

  .footer__bottom p {
    max-width: 294px;
  }

  .footer-column__title {
    font-size: 24px;
    line-height: 24px;
    padding: 24px 0;
    position: relative;
    width: 100%;

    &.js-mobile-open {
      &.open {
        &::before {
          opacity: 0;
        }
        &::after {
          opacity: 1;
        }
      }

      @include before {
        right: 0;
        top: 50%;
        background-image: url("../img/plus.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-top: -8px;
        opacity: 1;
      }
      @include after {
        right: 0;
        top: 50%;
        background-image: url("../img/minus.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        margin-top: -8px;
        opacity: 0;
      }
    }
  }

  .grettings {
    &__item {
      @include border-radius-top-left(0);
      @include border-radius-top-right(0);
      filter: drop-shadow(0px 87px 35px rgba(0, 0, 0, 0.01))
        drop-shadow(0px 49px 29px rgba(0, 0, 0, 0.04))
        drop-shadow(0px 22px 22px rgba(0, 0, 0, 0.07))
        drop-shadow(0px 5px 12px rgba(0, 0, 0, 0.08))
        drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.08));
      height: 627px;
    }

    &__slider {
      position: relative;
      left: -12px;
      width: calc(100% + 24px);
    }
  }

  .grettings__slider {
    .swiper-pagination {
      gap: 35px;
      padding: 0 35px;
      margin-top: 50px;
    }
  }

  .category-section {
    padding: 63px 0;
  }

  .video {
    left: -12px;
    width: calc(100% + 24px);
  }

  .video__btn--play {
    left: 34px;
  }

  .video__btn--volume {
    left: 98px;
  }

  .video__btn--full {
    right: 26px;
  }

  .text-section__inner {
    padding: 0 17px;
    gap: 48px;
  }

  .text-section__picture {
    width: 100%;
    max-width: 100%;
    flex: 1;
    padding-top: calc(505 / 740 * 100%);

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .text-section__content {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .text-section__caption {
    margin-bottom: 33px;
  }

  .products-section {
    padding: 64px 0;

    .container {
      padding-left: 32px;
      padding-right: 32px;
    }

    &__btn {
      margin-top: 16px;
    }
  }

  .product-card {
    .product-card__picture {
      height: 205px;
      @include border-radius(32px);
    }

    .product-card__content {
      padding: 16px 9px;
    }
  }
}

@media (max-width: 739px) {
  .products__slider {
    margin-top: 33px;

    .swiper-slide {
      opacity: 0 !important;

      &.swiper-slide-next,
      &.swiper-slide-active {
        opacity: 1 !important;
      }
    }
  }
}
