@media (max-width: 1439px) {
  .catalog__controls {
    gap: 10px;
  }

  .catalog-list .product-card {
    width: calc(100% / 3 - 16px);
  }

  .about-brand__titles h2.caption {
    max-width: 100%;
  }

  .about-brand__titles {
    // max-width: 590px;
    max-width: 100%;

    & + .category-text__text {
      max-width: 100%;
      transform: translateX(0);
    }
  }

  .category-text__line .caption {
    max-width: 600px;
    transform: translateX(0);
  }

  .catalog__rightSide .category-text .category-text__text {
    max-width: 600px;
    transform: translateX(30px);
  }

  .category-text__row {
    max-width: 600px;
    transform: translateX(30px);
  }

  .category-text__line {
    justify-content: flex-start;
  }

  .brand-item {
    width: calc(100% / 3 - 18px);
  }

  .catalog__leftSide {
    width: 300px;
  }

  .slider-main {
    .swiper-pagination-fraction {
      display: flex;
    }
  }

  .text-section__inner--right {
    flex-direction: row;
  }

  .category-wraper {
    flex-wrap: wrap;
  }

  .category-wraper .category-bar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .category-wraper .category-bar .article-brand {
    display: none;
  }

  .catalog__inner {
    div:not(.catalog__leftSide) {
      & + .catalog__rightSide {
        .catalog-list .product-card {
          width: calc(100% / 4 - 20px);
        }
      }
    }
  }

  .about-page {
    .category-text__text {
      width: 100%;
      max-width: 100%;
    }
  }

  .shop-info {
    padding: 40px 0 40px 40px;
  }

  .contacts-item {
    .title {
      font-size: 20px;
    }
  }

  .btn-cabinet {
    font-size: 12px;
    padding: 12px;
  }

  .collections-page {
    padding: 60px 0;

    .catalog-list {
      padding: 32px 0;
    }

    .product-card {
      width: calc(calc(100% / 4) - 36px);
    }
  }

  .people-block {
    flex-wrap: wrap;
  }

  .collections-result {
    padding: 32px 0;
  }

  .reviews-list + * {
    margin-top: 60px;
  }

  .reviews-text + .reviews-list {
    margin-top: 60px;
  }

  .reviews-list {
    gap: 30px;
  }

  .filter-row {
    min-width: 285px;
  }

  .catalog-breeding__list {
    gap: 24px;
    margin-top: 30px;
  }

  .catalog-breeding__item {
    border-radius: 64px;
  }

  .catalog-breeding__link {
    font-size: 14px;
  }

  .grettings-custom{
    .btn{
      transform: translateY(100px);
    }
  }
}
