@media (max-width: 1199px) {
  .header-top {
    padding: 12px 15px;
  }

  .header-center .logo-wrapper {
    width: 320px;
  }

  .social {
    width: auto;
  }

  .caption {
    font-size: 32px;
    line-height: 32px;
    max-width: 500px;
  }

  .category-section {
    .container {
      padding: 0 32px;
    }
  }

  .slider-caterogy {
    margin-top: 34px;

    .swiper-pagination-fraction {
      top: -56px;
    }
  }

  .text-section__content {
    max-width: 455px;
  }

  .product-info__content {
    max-width: 425px;
  }

  .product-info__picture {
    width: calc(100% - 455px);
  }

  .about-brand__item {
    flex-direction: column;
    gap: 0;
    justify-content: flex-start;
  }

  .about-brand__content {
    width: 100%;
    margin-top: 37px;
  }
}
