$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);

$fontMain: "IBM Plex Mono", monospace;

$shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08),
  0px 5px 12px 0px rgba(0, 0, 0, 0.08), 0px 22px 22px 0px rgba(0, 0, 0, 0.07),
  0px 49px 29px 0px rgba(0, 0, 0, 0.04), 0px 87px 35px 0px rgba(0, 0, 0, 0.01),
  0px 135px 38px 0px rgba(0, 0, 0, 0);

$colorNew: rgba(251, 90, 0, 1);

@mixin resetInvisLink {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  left: 0 !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  text-indent: initial !important;
  white-space: initial !important;
  overflow: visible !important;
}
